*{
	margin: 0px;
	padding: 0px;
}
ul{
	list-style: none;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
.afterfix:after{
			display: block;
			content: "";
			clear: both;
}
.fol{
	float:left;
}
.for{
	float: right;
}
body{
	font-size: 12px;
	background: EBEBEB;
}
.weizhi{
	position: relative;
}
.where{
	position: absolute;
}
