.tou{
	width: 100%;
	height: 0.96rem;
	display: flex;
	justify-content: space-between;
	background: #23ac38;
	align-items: flex-start;
}
.tou img{
	width: 100%;
	height: 100%;
}
.toul{
	width: 1.66376rem;
	height: 0.64rem;
	color: white;
	margin-left: 0.2rem;
	margin-top: 0.12rem;
}
.tour{
	width: 0.434rem;
	height: 0.32rem;
	color: white;
	margin-top: 0.28rem;
	margin-right: 0.2rem;
}
.tour:hover~.yc{
	display: block;
}
.yc:hover{
	display: block;
}
.yc{
	top: 0.96rem;
	display: none;
	width: 100%;
	height: 3.4rem;
	background: rgba(46,52,60,.8);
	z-index: 2;
}
.yc ul{
	width: 5.88rem;
	height: 2.24rem;
	margin: 0.3rem auto;
}
.yc li{
	line-height: 0.7rem;
	text-align: center;
	font-size: 0.3rem;
	color: #BBBBBB;
	float: left;
	width: 1.86rem;
	height: 0.7rem;
	border: 0.02rem solid #BBBBBB;
	margin-left: 0.06rem;
	margin-top: 0.16rem;
}
.tu{
	width: 100%;
	height: 3.6rem;
	margin-bottom: 0.4rem;
}
.tu img{
	width: 100%;
	height: 100%;
}
.tu .aa{
	width: 100&;
	height: 100%;
	overflow: hidden;
}
.tu ul{
	width: 400%;
	height: 100%;
	animation: lbta 10s linear infinite;
}
.tu li{
	width: 25%;
	height: 100%;
	float: left;
}
@keyframes lbta{
	0%,24%{
		margin-left: 0%;
	}
	28%,52%{
		margin-left: -100%;
	}
	56%,80%{
		margin-left: -200%;
	}
	84%,100%{
		margin-left: -300%;
	}
}
.dian{
	display: flex;
	width: 1.32rem;
	height: 0.36rem;
	bottom: 0rem;
	left: 3.2rem;
  	margin: 0.1rem 0.1rem 0.1rem -0.66rem;
}
.icon-dian:hover{
	color: white;
}
.er{
	width: 100%;
	height: 1.7rem;
	margin:0.2rem 0rem 0.3rem 0rem;
}
.er>ul{
	width: 100%;
	height:1.4rem ;
	/*display: flex;
	justify-content: space-between;*/
	background: #E5E5E5;
}
.er li{
	width: 1.58rem;
	height: 1.4rem;
	float: left;
	text-align: center;
	background: white;
}
.er li{
	border-right: 0.02rem solid #E5E5E5;
}
.er img{
	width: 0.768rem;
	height: 0.6766rem;
	margin:0.1rem auto;
}
.er p{
	width: 1.6rem;
	height: 0.42rem;
	font-size: 0.26rem;
}
.jiange{
	width: 100%;
	height: 0.2rem;
	background: #EBEBEB;
}
.san{
	width: 100%;
	height: 10.88rem;
	background:white;
	margin: 0.4rem 0rem;
}
.sant{
	width: 6.144rem;
	height: 0.72rem;
	margin-bottom: 0.5rem;
	margin-top: 0.1rem;
}
.sant p{
	font-size: 0.5rem;
}
.sanz{
	margin-top: 0.4rem;
	width: 100%;
	height: 5.96rem;
	display: flex;
	flex-flow: row wrap;
}
.sanzbox{
	width: 1.6rem;
	height: 2.98rem;
	font-size: 0.3rem;
    margin-top: 0.1rem;
    text-align: center;
}
.sanzt{
	width: 0.84rem;
	height: 0.84rem;
	margin: 0.1rem auto;
}
.sanza{
	width: 100%;
	height: 0.44rem;
	margin-top: 0.1rem;
}
/*.sanzbox p{
	font-size: 1.2em;
    margin-top: 0.1rem;
    text-align: center;
}*/
.sanzb{
	width: 100%;
	height: 0.44rem;
	margin-top: 0.1rem;
	color: darkgrey;
}
/*.sanzb>p{
	color: CDCDCD;
}*/
.sanzc{
	width: 0.86rem;
	height: 0.5rem;
	border: 0.02rem solid transparent;
	border-radius: 5px;
	background: #EBFBE9;
	color: green;
	margin: 0.1rem auto;
}
.sanzbox img{
	width: 100%;
	height: 100%;
}
.sanxia{
	width: 100%;
	height: 3rem;
	display: flex;
}
.sanxia ul{
	width: 100%;
	height: 3rem;
	
	margin: 0.2rem 0rem;
	
}
.sanxia ul img{
	float: left;
	width: 0.3rem;
	height: 0.3rem;
	margin-top: 0.25rem;
}
.sanxia p{
	float: left;
}
.sanxia li{
	float: left;
	font-size: 1.15em;
	width: 1.46rem;
	height: 0.8rem;
	flex-flow: row nowrap;
	background: #F3F1F1;
	border:0.02rem solid #EEECEC ;
	text-align: right;
	line-height: 0.8rem;
	margin: 0.1rem 0.05rem;
}
.znyj{
	width: 100%;
	height: 17.48rem;
}
.tittle{
	width: 6.14rem;
	height: 0.72rem;
	font-size: 0.5rem;
    color: #333333;
    margin: 0.4rem 0rem;
}
.znyjli{
	width: 100%;
	height: 15.96rem;
}
.znyj ul{
	width: 100%;
	height: 15.96rem;
}
.znyj li{
	float: left;
}
.lista{
	width: 3.18rem;
	height: 5.3rem;
	border-top: 0.02rem solid #E3E3E4;
	border-right: 0.02rem solid #E3E3E4;
}
.pa{
	width: 2.88rem;
	height: 0.92rem;
	margin-top: 0.4rem;
    font-size: 0.3rem;
    margin-bottom: 0.2rem;
}
.pb{
	width: 2.88rem;
	height: 0.4rem;
	font-size: 0.26rem;
	color: #999999;
	margin-bottom: 0.2rem;
}
.pc{
	width: 2.88rem;
	height: 0.46rem;
	color: #f13228;
    font-size: 0.35rem;
    margin-bottom: 0.2rem;
}
.pd{
	width: 2.86rem;
	height: 1.61rem;
}
.lista img{
	width: 2.295rem;
	height: 1.55rem;
}
.listc img{
	width: 2.295rem;
	height: 1.55rem;
}
.listd img{
	width: 2.295rem;
	height: 1.55rem;
}
.liste img{
	width: 2.295rem;
	height: 1.55rem;
}
.listb{
	width: 3.2rem;
	height: 5.3rem;
	border-top: 0.02rem solid #EBEBEB;
}
.listc{
	width: 3.18rem;
	height: 5.3rem;
	border-top: 0.02rem solid #E3E3E4;
	border-right: 0.02rem solid #E3E3E4;
}
.listd{
	width: 3.2rem;
	height: 5.3rem;
	border-top: 0.02rem solid #E3E3E4;
}
.liste{
	width: 3.18rem;
	height: 5.28rem;
	border-top: 0.02rem solid #E3E3E4;
	border-right: 0.02rem solid #E3E3E4;
	border-bottom: 0.02rem solid #E3E3E4;
}
.listf{
	width: 3.2rem;
	height: 5.28rem;
	border-top: 0.02rem solid #E3E3E4;
	border-bottom: 0.02rem solid #E3E3E4;
	background: #F8F5F5;
	color: #A8A8A8;
}
.listfl{
	width: 2.0rem;
	height: 100%;
	margin:2rem 0rem 2rem 0.4rem;
	font-size: 0.45rem;
}
.listfr{
	width: 0.8rem;
	height: 100%;
	line-height: 5.3rem;
	/*font-size: 0.45rem;*/
}
.lbu{
	width: 3.2rem;
	height: 2.86rem;
	border-bottom: 0.02rem solid #E3E3E4;
}
.lbua{
	width: 2.86rem;
	height: 0.92rem;
	font-size: 0.32rem;
	margin-top: 0.4rem;
}
.lbub{
	width: 1.3934rem;
	height: 1.56rem;
}
.lbuba{
	width: 1.5934rem;
	height:0.8rem ;
	color: #999999;
    margin-top: 5px;
    font-size: 0.25rem;
    margin-top: 0.2rem;
    margin-left: 0.35rem;
}
.lbubb{
	width: 1.5934rem;
	height: 0.46rem;
    color: #f13228;
    font-size: 0.35rem;
    margin-left: 0.35rem;
}
.lbu img{
	width: 1.434rem;
	height: 0.956rem;
}
.lbuu{
	width: 3.2rem;
	height: 2.44rem;
}
.lbuua{
	width: 2.86rem;
	height: 0.46rem;
	font-size: 0.32rem;
	margin-top: 0.4rem;
}
.lbuub{
	width: 1.3934rem;
	height: 1.56rem;
}
.lbuuba{
	width: 1.5934rem;
	height:0.8rem ;
	color: #999999;
    margin-top: 5px;
    font-size: 0.27rem;
    margin-top: 0.2rem;
    margin-left: 0.35rem;
}
.lbuubb{
	width: 1.5934rem;
	height: 0.46rem;
    color: #f13228;
    font-size: 0.32rem;
    margin-left: 0.35rem;
}
.lbuu img{
	width: 1.434rem;
	height: 0.956rem;
}
.yhfw{
	width: 100%;
	height: 5.78rem;
}
.yhfws{
	width:6.14rem ;
	height: 0.72rem;
	margin: 0.4rem 0rem;
	font-size: 0.5rem;
}
.dhq{
	width: 100%;
	height: 4.06rem;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}
.dhq a{
	width: 2rem;
	height: 1.12rem;
	background: #F8F5F5;
	border:1px solid #EBEBEB;
	color: black;
	font-size: 0.32rem;
	text-align: center;
	line-height: 1.12rem;
}
.ssl{
	width: 100%;
	height: 4.28rem;
}
.ssla{
	width: 5.84rem;
	height: 0.84rem;
	margin: 1rem auto;
}
.ssla input{
	font-size: 0.36rem;
	width: 3.6rem;
	height: 0.76rem;
	border: 0.02rem solid #00BE3C;
	text-indent: 0.2rem;
	padding-right: 0.6rem;
}
.sslar{
	width: 1.6rem;
	height: 0.8rem;
	background: limegreen;
	color: white;
	text-align: center;
	line-height: 0.8rem;
	font-size: 0.3rem;
}
.sslb{
	width: 1rem;
	height: 0.4rem;
}
.ssll{
	color: dimgray;
	font-size: 0.3rem;
	top: 0.2rem;
	left: 0.2rem;
}
.ssla input:hover~.ssll{
	display: none;
}
.sslll{
	width: 0.5rem;
	height: 0.5rem;
	top:0.15rem;
	right: 1.75rem;
}
.sslll img{
	width: 100%;
	height: 100%;
}
.sslb{
	width: 5.2rem;
	height: 0.42rem;
	margin: 1rem auto;
	color: #666666;
}
.sslb span{
	width: 1rem;
	height: 0.42rem;
	margin: 0rem 0.2rem;
	font-size: 0.25rem;
}
.sslc{
	margin-top: -0.3rem;
	width: 100%;
	height: 1.02rem;
	font-size: 0.28rem;
	text-align: center;
	line-height: 1.02rem;
	color: #666666;
}
