*{
	margin: 0px;
	padding: 0px;
}
ul{
	list-style: none;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
.afterfix:after{
			display: block;
			content: "";
			clear: both;
		}